<div class="d-flex" *ngIf="playersStats">
    <div class="col-2">
        <div >
            <h4>Player's Name</h4>
            <ul class="list-group" *ngFor="let player of playersStats">
                <li class="list-group-item">{{player.playerName}}</li>
            </ul>
        </div>
    </div>
    <div class="col-5 chart">
        <div class="border-dark">
            <div >{{barChart}}</div>
            <button class="py-1 btn btn-success" (click)="changeChartType()">Change Graph Type</button>
            <app-graph baseChart [barDataSet]="barDataSet" [graphLabels]="graphLabels" [graphOptions]="graphOptions"
             [graphLegend]="graphLegend" [chartType]="barChart" (chartClick)="onClickChartEvent($event)" (chartHover)="onHoverChart($event)"></app-graph>
        </div>
        <div class="border-dark">
            <div>Doughnut</div>
            <app-graph baseChart [barDataSet]="doughnutDataSet" [graphLabels]="graphLabels" [graphOptions]="graphOptions"
            [graphLegend]="graphLegend" [chartType]="doughNutType"></app-graph>
        </div>
    </div>
    <div class="col-5 chart">
        <div class="border-dark">
            <div>line</div>
            <app-graph baseChart [barDataSet]="doughnutDataSet" [graphLabels]="graphLabels" [graphOptions]="graphOptions"
            [graphLegend]="graphLegend" [chartType]="lineGraphType"></app-graph>
        </div>
        <div class="border-dark">
            <div>pie</div>
            <app-graph baseChart [barDataSet]="doughnutDataSet" [graphLabels]="graphLabels" [graphOptions]="graphOptions"
            [graphLegend]="graphLegend" [chartType]="pieChartType"></app-graph>
        </div>
    </div>
</div>