<div class=" d-flex">
    <div class="col-2">
        <div *ngIf="playersStats">
            <h4>Player's Name</h4>
            <ul class="list-group" *ngFor="let player of playersStats">
                <li class="list-group-item">{{player.playerName}}</li>
            </ul>
        </div>
    </div>
    <div class="col-10 chart " *ngIf="playersStats">
        <div class="border-dark">
            <canvas baseChart [datasets]="chartData" [labels]="graphLabels" [options]="graphOptions"
                [plugins]="chartPlugins" [legend]="graphLegend" [chartType]="barType">
            </canvas>
        </div>
        <div class="border-dark">
            <canvas baseChart [datasets]="chartData" [labels]="graphLabels" [options]="graphOptions"
                [plugins]="chartPlugins" [legend]="graphLegend" [chartType]="doughNutType">
            </canvas>
        </div>
    </div>
</div>