<div class="d-flex" *ngIf="playersStats">
    <div class="col-2">
        <div>
            <h4>Open Report</h4>
            <button class="btn btn-primary" routerLink="inventoryReport">Inventory Report</button>
        </div>
        <div>
            <h4>Player's Name</h4>
            <ul class="list-group" *ngFor="let player of playersStats">
                <li class="list-group-item">{{player.x_label}}</li>
            </ul>
        </div>
    </div>
    <div class="col-5 chart">
        <div class="d-flex mb-2">
            <button class="btn btn-warning" (click)="changeChartTheme()">Change graph Theme</button>
            <button class="btn btn-info ml-3" (click)="changeToDefaultTheme()">Change to Default</button>
        </div>
        <div class="border-dark">
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" (click)="changeChartColor()">Change Graph Color</button>
                <h3>{{barChart}}</h3>
                <button class="btn btn-success" (click)="changeChartType()">Change Graph Type</button>
            </div>
            <app-graph [height]="heigth" [width]="width" baseChart [barDataSet]="barDataSet" [graphLabels]="graphLabels" [graphOptions]="graphOptions"
                [graphLegend]="graphLegend" [chartType]="barChart" [graphColor]="graphColor"
                (chartClick)="onClickChartEvent($event)" (chartHover)="onHoverChart($event)"></app-graph>
        </div>
        <div class="border-dark">
            <div>{{doughNutType}}</div>
            <app-graph [height]="heigth" [width]="width" baseChart [barDataSet]="graphDataSet" [graphLabels]="graphLabels" [graphOptions]="graphOptions"
                [graphLegend]="graphLegend" [chartType]="doughNutType"></app-graph>
        </div>
        <div class="border-dark">
            <div>{{doughNutType}}</div>
            <app-graph [height]="heigth" [width]="width" baseChart [barDataSet]="graphDataSet" [graphLabels]="graphLabels" [graphOptions]="graphOptions"
                [graphLegend]="graphLegend" [chartType]="polarArea"></app-graph>
        </div>
    </div>
    <div class="col-5 chart">
        <div class="border-dark">
            <div>{{lineGraphType}}</div>
            <app-graph [height]="heigth" [width]="width" baseChart [barDataSet]="doughnutDataSet" [graphLabels]="graphLabels"
                [graphOptions]="graphOptions" [chartType]="lineGraphType"></app-graph>
        </div>
        <div class="border-dark">
            <div>{{pieChartType}}</div>
            <app-graph [height]="heigth" [width]="width" baseChart [barDataSet]="pieChartDataSet" [graphLabels]="graphLabels"
                [graphOptions]="graphOptions" [graphLegend]="pieChartLegend" [chartType]="pieChartType"
                [graphColor]="pieChartColor"></app-graph>
        </div>
        <!-- <div class="border-dark">
            <div>{{doughNutType}}</div>
            <app-graph [height]="heigth" [width]="width" baseChart [barDataSet]="graphDataSet"  [graphLabels]="graphLabels" [graphOptions]="graphOptions"
            [graphLegend]="graphLegend" [chartType]="radarChartType"></app-graph>
        </div> -->
    </div>
</div>