.header-btn {
    .actional-Insights-btn {
        background-color: transparent;
        color: #2bb3b3;
        border: 1px solid #2bb3b3;
        width: 176px;
    }

    .analytics-btn {
        width: 176px;
        background: linear-gradient(90deg, #00a4bd 0%, #00afb2 50.31%, #00bda5 100%);
    }
}

.card{
    width: 715px;
    height: 424px;
    .card-header{
        background-color: white;
    }
}

.graph{
    width: 500px!important;
}

b{
    cursor: pointer;
}

p{
    font-size: 12px;
}